<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    {% include 'djangoapp/navbar.html' with active_menu='contact' %}

    <!-- Add reviews as cards -->
        <div class="container text-center">
                        
            <h1 class='display-3 my-5 px-5'>Dealership review</h1>
            {% if user.is_authenticated %}
            <h5 class='display-5 mt-2 px-5'><a>Add review</a></h5>
            {% endif %}

            <div class="card-columns">
            {% for review in reviews_list %}
                <div class="card">
                    {% if review.sentiment == 'positive' %}
                    <img class="card-img-left img-sm" src="{{MEDIA_URL}}/emoji/positive.png">
                    {% elif review.sentiment == 'negative' %}
                    <img class="card-img-left img-sm" src="{{MEDIA_URL}}/emoji/negative.png">
                    {% else %}
                    <img class="card-img-left img-sm" src="{{MEDIA_URL}}/emoji/neutral.png">
                    {% endif %}
                    <h5 class="card-title">
                        {% if review.purchase == True %}
                            {{review.car_make}}, {{review.car_model}}, {{review.car_year}}
                        {% else %}
                            No purchase
                        {% endif %}
                    </h5>
                    <p class="card-text">
                        {{ review.review}}
                    </p>
                </div>
            {% endfor %}
            </div>

        </div>
    </body>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>